.contact-section {
    height: 15vh;
    justify-self: center;
}

.contact-section a {
    text-decoration: none;
  }
  .contact-section img{
    width: 35px;
    margin-left: 20px;
    margin-right: 20px;
    
  }